{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/change_password.css' %}">
<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
</head>
<body>
    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %} <!-- CSRF token for security -->
        {{ form.as_p }} <!-- Django form rendered as a series of paragraphs, including labels, input widgets, and error messages -->
        <button type="submit">Change Password</button>
    </form>
</body>
</html>
